<div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h3><strong>Teste</strong></h3>
          <h4 class="m-b-lg">Escolha abaixo o seu teste.</h4>
        </div>
</div>
  <div class="row">
  <div class="col-md-4 m-b-lg" ng-repeat="teste in vm.testes.testes">
          <div class="panel panel-default panel-profile m-b-0">
            <div class="panel-heading"></div>
            <div class="panel-body text-center">
              <h5 class="panel-title">{{teste.name}}</h5>
              <p class="m-b">{{}}</p>
              <p class="m-b">{{}}</p>
              <a ui-sref="home" class="btn btn-primary" role="button">INICIAR</a>             
            </div>
          </div>
  </div>
  </div>
  <nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li><a ui-sref="plataforma">Plataforma</a></li>
    </ul>
</nav>
  <div class="row">
  <div class="col-md-12 m-b-lg">
            <div class="text-left">
            <a class="btn btn-primary color-btn" role="button" href="javascript:history.back()">Voltar</a>             
            </div>          
        </div>
        <br>
</div>