<div class="row">
<div class="col-sm-12">
      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h3><strong>PLANOS WIFI</strong></h3>
          <h4 class="m-b-lg">Escolha abaixo o seu plano.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 m-b-lg">
          <div class="panel panel-default panel-profile m-b-0">
            <div class="panel-heading"></div>
            <div class="panel-body text-center">
              <h5 class="panel-title">TBT01</h5>
              <p class="m-b">Plano para tablet</p>
              <p class="m-b">Chip para navegar a vontade</p>
              <a href="" target="_blank" class="btn btn-primary" role="button">Escolher</a>              
            </div>
          </div>
        </div>
        <div class="col-md-6 m-b-lg">
          <div class="panel panel-default panel-profile m-b-0">
            <div class="panel-heading"></div>
            <div class="panel-body text-center">
              <h5 class="panel-title">CPT02</h5>
              <p class="m-b">Plano para Computador</p>
              <p class="m-b">Seu computador sempre conectado</p>
              <a href="" target="_blank" class="btn btn-primary" role="button">Escolher</a>              
            </div>
          </div>
        </div>        
      </div>      
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 m-b-lg">
            <div class="text-left">
              <a class="btn btn-primary color-btn" role="button" href="javascript:history.back()">Voltar</a>             
            </div>          
        </div>
    </div>
        <br>